{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/intro.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>Contact Us</h2>
							<h3>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-contact-section">
			<div class="container">
				<div class="col-md-4 animate-box">
					<h3 class="section-title">Our Address</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
						<li><i class="icon-phone2"></i>+ 1235 2355 98</li>
						<li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-8 animate-box">
					{{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
					{{ form_errors(form) }}
						<div class="form-group row">
							<div class="col-md-6 field">
								{{ form_row(form.firstName, {'attr': {'class':'form-control'}}) }}
							</div>
							<div class="col-md-6 field">
								{{ form_row(form.lastName, {'attr': {'class':'form-control'}}) }}
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 field">
								{{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
							</div>
							<div class="col-md-6 field">
								{{ form_row(form.phone, {'attr': {'class':'form-control'}}) }}
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12 field">
								{{ form_row(form.subject, {'attr': {'class':'form-control'}}) }}	
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12 field">
								{{ form_row(form.message, {'attr': {'class':'form-control'}}) }}	
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12 field">
								{{ form_row(form.Send, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}
							</div>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
		<div id="map" class="fh5co-map animate-box"></div>
		<!-- END map -->
{% endblock %} 
