				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="{{ path('index') }}">Narrow</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}"><a href="{{ path('index') }}"><span>Home</span></a></li>
								<li class="{{ (app.request.attributes.get('_route') == 'services')  ? 'active': ''}}"><a href="{{ path('services') }}">Services</a></li>
								<li class="{{ (app.request.attributes.get('_route') == 'product')  ? 'active': ''}}"><a href="{{ path('product') }}">Products</a></li>
                                <li class="{{ (app.request.attributes.get('_route') == 'blog' or app.request.attributes.get('_route') == 'single_post')  ? 'active': ''}}"><a href="{{ path('blog') }}">Blog</a></li>
								<li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}}"><a href="{{ path('about') }}">About</a></li>
								<li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}"><a href="{{ path('contact') }}">Contact</a></li>
								{% if app.user %}
									<li class="{{ (app.request.attributes.get('_route') == 'new_post')  ? 'active': ''}}"><a href="{{ path('new_post') }}"><i class="fa fa-plus-square sr-icons"></i> New post</a></li>
									<li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out sr-icons"></i> {{ app.user.name }} - Logout</a></li>
								{% else %}
									<li class="{{ (app.request.attributes.get('_route') == 'app_login')  ? 'active': ''}} lien"><a href="{{ path('app_login') }}"><i class="fa fa-sign-in sr-icons"></i> Login</a></li>
									<li class="{{ (app.request.attributes.get('_route') == 'app_register')  ? 'active': ''}} "><a href="{{ path('app_register') }}"><i class="fa fa-user-secret sr-icons"></i> Register</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>