{% extends 'base.html.twig' %}
{% block title %}Single Post{% endblock %}
{% block body %}
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({{asset('images/index/gallery/' ~ post.image) }});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>{{post.title}}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="animate-box">
			<div class="blog_section_2">
				<div class="row">
					<div class="col-sm-12">
						<div class="section_1">
							<p style="word-break: break-all">{{post.content}}</p>
							<div>
								<a href="{{ path('single_post', {'slug': post.slug}) }}" class="btn" style="width: 70%">Posted by {{post.postUser.name}} in {{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</a>
								<img src="{{asset('images/comment.png')}}" style="width: 20px;"> {{ post.numComments }}
								<img src="{{asset('images/favorite.png')}}" style="width: 20px;"> {{post.numLikes}}
								<a href="{{ path('post_like', {slug: post.slug}) }}">LIKE</a></i>
							</div>
						</div>
					</div>
				</div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Comentarios</h2>
						{% for comment in post.comments %}
						<div class="section_1">
                            <h3>{{comment.name}}</h3>
							<p>{{comment.text}}</p>
							<div>
								<a class="btn" href="single_post.html" style="width: 100%">Posted by {{comment.name}} in {{comment.publishedAt | date('d') }} {{ comment.publishedAt | date('F') }}</a>
							</div>
						</div>
						{% endfor %}
						{{ include ('partials/_form_comment.html.twig') }}
					</div>
					
                    <div class="col-sm-6">
                        <h2>Post recientes</h2>
						{% for post in posts %}
                        <div class="section_1">
                            <h3>{{post.title}}</h3>
							<div>
								<a href="{{ path('single_post', {'slug': post.slug}) }}" class="btn" href="single_post.html" style="width: 70%">Posted by {{post.postUser.name}} in {{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</a>
								<img src="{{asset('images/comment.png')}}" style="width: 20px;"> {{ post.numComments }}
								<img src="{{asset('images/favorite.png')}}" style="width: 20px;"> {{post.numLikes}}
							</div>
                        </div>
						{% endfor %}
                    </div>
                </div>
			</div>
        </div>
{% endblock %}
